.tokens-table {
  font-family: sans-serif;
  width: 100%;
  border-collapse: collapse;
}

.tokens-table thead tr th {
  text-align: left;
  padding: 0.7rem 1rem;
}

.tokens-table tbody td {
  padding: 0.7rem 1rem;
  font-size: 14px;
}

.tokens-table tbody td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tokens-table tbody td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
